/* Estilos para a calculadora */

body {
    font-family: Arial, sans-serif;
    background-image: url('shalom.png'); /* Imagem de fundo */
    background-size: 38% 105%; /* Tamanho da imagem ajustado */
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo com transparência */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #ebaa32;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #030503;
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}
